.button {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  font-size: var(--text-sm);
  color: var(--gray-100);
  background-color: var(--blue-700);
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  &:hover {
    background-color: var(--blue-400);
  }
}
