.header {
  background: var(--gray-700);
  padding-block: 4.5rem 5rem;

  & img {
    display: block;
    margin-inline: auto;
  }
}

@media (width<=768px) {
  .header {
    padding-block: 2rem 3rem;
  }
}
